@use '../helpers' as v;

@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src:
    local('Pretendard Black'),
    url('#{v.$font-path}/Pretendard-Black.subset.woff2') format('woff2'),
    url('#{v.$font-path}/Pretendard-Black.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src:
    local('Pretendard ExtraBold'),
    url('#{v.$font-path}/Pretendard-ExtraBold.subset.woff2') format('woff2'),
    url('#{v.$font-path}/Pretendard-ExtraBold.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src:
    local('Pretendard Bold'),
    url('#{v.$font-path}/Pretendard-Bold.subset.woff2') format('woff2'),
    url('#{v.$font-path}/Pretendard-Bold.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src:
    local('Pretendard SemiBold'),
    url('#{v.$font-path}/Pretendard-SemiBold.subset.woff2') format('woff2'),
    url('#{v.$font-path}/Pretendard-SemiBold.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src:
    local('Pretendard Medium'),
    url('#{v.$font-path}/Pretendard-Medium.subset.woff2') format('woff2'),
    url('#{v.$font-path}/Pretendard-Medium.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src:
    local('Pretendard Regular'),
    url('#{v.$font-path}/Pretendard-Regular.subset.woff2') format('woff2'),
    url('#{v.$font-path}/Pretendard-Regular.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src:
    local('Pretendard Light'),
    url('#{v.$font-path}/Pretendard-Light.subset.woff2') format('woff2'),
    url('#{v.$font-path}/Pretendard-Light.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src:
    local('Pretendard ExtraLight'),
    url('#{v.$font-path}/Pretendard-ExtraLight.subset.woff2') format('woff2'),
    url('#{v.$font-path}/Pretendard-ExtraLight.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src:
    local('Pretendard Thin'),
    url('#{v.$font-path}/Pretendard-Thin.subset.woff2') format('woff2'),
    url('#{v.$font-path}/Pretendard-Thin.subset.woff') format('woff');
}
