@use '../helpers' as *;

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .container {
    height: 100%;
    color: $white;
    background-color: $bg01;

    .contents {
      height: calc(100% - 5rem);
      padding-top: 5rem;

      .page {
      }
    }
  }
}
