@use '../helpers' as *;

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .container {
    height: 100%;
    color: $white;
    background-color: $bg01;

    .contents {
      height: 100%;

      .page {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% - 6rem);
        padding-top: 6rem;

        > div {
          position: relative;
          width: 120rem;
          height: 100%;
        }
      }
    }
  }
}

@include mobile(0, 1200px) {
  .App {
    .container {
      .contents {
        .page {
          > div {
            width: 100%;
            padding: 0 4rem;
          }
        }
      }
    }
  }
}
