@use '../helpers' as *;

.about {
  .aboutArea {
    display: flex;
    justify-content: center;
    align-items: center;

    .profileArea {
      width: 38rem;
      height: 50rem;
      border-radius: 0.6rem;
      background-color: #d9d9d9;

      img {
        width: 100%;
        border-radius: 0.6rem;
      }
    }

    .textArea {
      flex: 1;
      width: 100%;
      margin-left: 6rem;

      .title {
        font-weight: 700;
        font-size: 4rem;
        color: $primary;
      }

      .text {
        display: block;
        padding-top: 3rem;
        font-size: 2rem;
        word-break: keep-all;
      }

      .tagArea {
        display: flex;
        padding-top: 3rem;

        .tag {
          padding: 0.6rem 1.6rem;
          font-weight: 500;
          font-size: 2rem;
          color: $primary;
          border: 0.1rem solid $primary;
          border-radius: 0.6rem;

          ~ .tag {
            margin-left: 1rem;
          }
        }
      }
    }
  }
}

@include mobile(0, 1200px) {
  .about {
    .aboutArea {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .profileArea {
        width: 30rem;
        height: 40rem;
      }

      .textArea {
        margin-left: 0;
        padding-top: 1rem;

        .title {
          font-size: 3.2rem;
        }

        .text {
          padding-top: 1rem;
          font-size: 1.6rem;
        }

        .tagArea {
          padding-top: 2rem;

          .tag {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
