@use '../helpers' as *;

.contact {
  .contactArea {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-weight: 700;
      font-size: 4rem;
      color: $primary;
    }

    .textArea {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      &::before {
        content: '';
        position: absolute;
        top: 3rem;
        left: 50%;
        width: 170%;
        height: 28rem;
        background: url('#{$image-path}/visual/contact.png') center / 100% 100%
          no-repeat;
        transform: translateX(-50%);
      }

      &::after {
        content: '';
        position: absolute;
        top: 3rem;
        left: 50%;
        width: 170%;
        height: 28rem;
        background-color: rgba(2, 7, 41, 0.3);
        transform: translateX(-50%);
      }

      .text {
        display: block;
        padding-top: 34rem;
        font-size: 2.2rem;
        word-break: keep-all;
      }

      .listArea {
        display: flex;
        padding-top: 3rem;

        .list {
          ~ .list {
            margin-left: 1rem;
          }

          .btn {
            display: block;
            padding: 0.6rem 1.6rem;
            font-weight: 500;
            font-size: 2rem;
            color: $primary;
            border: 0.1rem solid $primary;
            border-radius: 0.6rem;

            &:hover {
              color: $white;
              background-color: $primary;
            }
          }
        }
      }
    }
  }
}

@include mobile(0, 1200px) {
  .contact {
    .contactArea {
      .title {
        font-size: 3.2rem;
      }

      .textArea {
        align-items: flex-start;

        &::before {
          top: 1rem;
          width: calc(100% + 8rem);
          height: 20rem;
        }

        &::after {
          top: 1rem;
          width: calc(100% + 8rem);
          height: 20rem;
        }

        .text {
          padding-top: 22rem;
          font-size: 1.6rem;
        }

        .listArea {
          padding-top: 1rem;

          .list {
            .btn {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}
