@use '../helpers' as *;

.project {
  .projectArea {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-weight: 700;
      font-size: 4rem;
      color: $primary;
    }

    .swiper {
      height: auto;
      padding-top: 3rem;

      .swiper-wrapper {
        position: relative;
        display: flex;

        .swiper-slide {
          flex-shrink: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      &-pagination {
        display: flex;
        flex-direction: column;
        right: 0;
        bottom: 50%;
        left: auto;

        &-bullet {
          margin: 0.4rem 0;
        }
      }
    }

    .projectGroup {
      display: flex;
      width: 100%;

      .imgArea {
        min-width: 60rem;
        max-width: 60rem;
        min-height: 40rem;
        max-width: 60rem;
        border-radius: 0.6rem;

        img {
          width: 100%;
          height: 40rem;
          border-radius: 0.6rem;
        }
      }

      .projectBox {
        padding-left: 4rem;

        .titleArea {
          .projectTitle {
            font-weight: 500;
            font-size: 3rem;
          }

          .title {
            display: block;
            padding-top: 2rem;
            font-weight: 400;
            font-size: 2rem;
            color: $white;
          }

          .link {
            display: block;
            font-weight: 400;
            font-size: 2rem;
            color: $white;

            &:hover {
              color: $primary;
            }
          }
        }

        .textArea {
          padding-top: 2rem;

          .projectText {
            font-weight: 500;
            font-size: 3rem;
          }

          .text {
            display: block;
            padding: 2rem 2rem 0 0;
            font-size: 2rem;
            word-break: keep-all;
          }
        }

        .tagArea {
          display: flex;
          padding-top: 2rem;

          .tag {
            padding: 0.4rem 1rem;
            font-weight: 500;
            font-size: 1.6rem;
            color: $primary;
            border: 0.1rem solid $primary;
            border-radius: 0.6rem;

            ~ .tag {
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }
}

@include mobile(0, 1200px) {
  .project {
    padding: 0 4rem;

    .projectArea {
      .title {
        font-size: 3.2rem;
      }

      .swiper {
        padding-top: 1rem;
      }

      .projectGroup {
        flex-direction: column;

        .imgArea {
          min-width: 50rem;
          max-width: 50rem;
          min-height: 30rem;
          max-height: 30rem;

          img {
            height: 30rem;
          }
        }

        .projectBox {
          padding-top: 1rem;
          padding-left: 0;

          .titleArea {
            .projectTitle {
              font-size: 2.4rem;
            }

            .title {
              padding-top: 1rem;
              font-size: 1.6rem;
            }

            .link {
              font-size: 1.6rem;
            }
          }

          .textArea {
            padding-top: 1rem;

            .projectText {
              font-size: 2.4rem;
            }

            .text {
              padding-top: 1rem;
              padding-right: 6rem;
              font-size: 1.6rem;
            }
          }

          .tagArea {
            padding-top: 1rem;

            .tag {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}
