@use '../helpers' as *;

.work {
  .workArea {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      padding: 0 10rem;
      font-weight: 700;
      font-size: 4rem;
      color: $primary;
    }

    .swiper {
      height: auto;
      padding-top: 3rem;

      .swiper-wrapper {
        position: relative;
        display: flex;

        .swiper-slide {
          flex-shrink: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      &-button-prev {
        position: absolute;
        top: 50%;
        left: 0;
        width: 2rem;
        height: 4rem;
        color: $white;
        background: url('#{$image-path}/icon/arrow.png') center / 100% 100%
          no-repeat;

        transform: rotate(180deg);
      }

      &-button-next {
        position: absolute;
        top: 50%;
        right: 0;
        width: 2rem;
        height: 4rem;
        color: $white;
        background: url('#{$image-path}/icon/arrow.png') center / 100% 100%
          no-repeat;
      }

      &-button-disabled {
        opacity: 0.4;
      }
    }

    .listArea {
      width: 100%;

      ~ .listArea {
        padding-top: 6rem;
      }

      .listTitle {
        padding: 0 10rem;
        font-weight: 500;
        font-size: 3rem;
      }

      .listGroup {
        display: flex;
        align-items: center;
        padding: 0 10rem;
        padding-top: 2rem;

        .imgArea {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 25rem;
          min-height: 12rem;
          border-radius: 0.6rem;
          background-color: $white;

          img {
            display: block;
            width: 15rem;

            &.sm {
              width: 10rem;
            }
          }
        }

        .textArea {
          margin-left: 2rem;

          .listText {
            font-size: 2rem;
            word-break: keep-all;
          }

          .tagArea {
            display: flex;
            padding-top: 1rem;

            .tag {
              padding: 0.4rem 1rem;
              font-weight: 500;
              font-size: 1.6rem;
              color: $primary;
              border: 0.1rem solid $primary;
              border-radius: 0.6rem;

              ~ .tag {
                margin-left: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

@include mobile(0, 1200px) {
  .work {
    padding: 0 4rem;

    .workArea {
      .title {
        padding: 0 5rem;
        font-size: 3.2rem;
      }

      .swiper {
        padding-top: 1rem;
      }

      .listArea {
        ~ .listArea {
          padding-top: 4rem;
        }

        .listTitle {
          padding: 0 5rem;
          font-size: 2.4rem;
        }

        .listGroup {
          flex-direction: column;
          align-items: flex-start;
          padding: 1rem 5rem 0 5rem;

          .imgArea {
            min-width: 20rem;
            min-height: 10rem;
          }

          .textArea {
            margin-left: 0;
            padding-top: 1rem;

            .listText {
              font-size: 1.6rem;
            }

            .tagArea {
              padding-top: 1rem;

              .tag {
                font-size: 1.4rem;
              }
            }
          }
        }
      }
    }
  }
}
