@use '../helpers' as *;

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120rem;
  height: 6rem;
  padding: 0 4rem;
  background-color: transparent;
  transform: translateX(-50%);

  .logo {
    .link {
      font-weight: 700;
      font-size: 2rem;
    }
  }

  .nav {
    display: flex;

    li {
      ~ li {
        margin-left: 1rem;
      }

      .link {
        font-size: 2rem;
      }
    }
  }
}

@include mobile(0, 1200px) {
  .header {
    width: calc(100% - 8rem);
  }
}
