@use '../helpers' as *;

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 8rem);
  height: 6rem;
  padding: 0 4rem;
  background-color: transparent;

  .logo {
    .link {
      font-weight: 700;
      font-size: 2rem;
    }
  }

  .nav {
    display: flex;

    li {
      ~ li {
        margin-left: 1rem;
      }

      .link {
        font-size: 2rem;
      }
    }
  }
}
